.display-none {
    display: none !important;
}
/* Без имопртант с бульмой не хотело работать... :( */

.cal-day {
    margin-bottom: 5px;
}

.is-today {
    font-weight: bold;
    border: 3px solid #54bbff!important;
}

.restart {
    margin-top: 20px;
}